<mat-drawer-container autosize>
  <mat-drawer mode="side" opened="true">
    <app-group-detail [group]="group$ | async"></app-group-detail>
    <app-create-idea-container [group]="group$ | async"></app-create-idea-container>
  </mat-drawer>
  <div class="main-content">
    <mat-list>
      <a mat-list-item *ngFor="let idea of ideas$ | async; trackBy:trackById" href="{{idea.url}}">
        <h3 mat-line>{{idea.name}}</h3>
        <h3 mat-line>{{idea.description}}</h3>
      </a>
    </mat-list>
  </div>
</mat-drawer-container>
