<div class="bb-editor">
  <mat-card>
    <mat-card-title-group class="fullBleed editing">
      <mat-card-title>Create a new Group</mat-card-title>
      <mat-card-subtitle>you can create a new group of ideas</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div fxLayout="column">
        <mat-form-field fxFlex>
          <input matInput placeholder="Group name" name="name" [(ngModel)]="group.name">
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Group description" name="description" [(ngModel)]="group.description">
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput [matDatepicker]="pickerFrom" name="dateFrom" placeholder="Group date from" [(ngModel)]="group.dateFrom">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput [matDatepicker]="pickerUntil" name="dateUntil" placeholder="Group Date Until" [(ngModel)]="group.dateUntil">
          <mat-datepicker-toggle matSuffix [for]="pickerUntil"></mat-datepicker-toggle>
          <mat-datepicker #pickerUntil></mat-datepicker>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="center center">
      <button mat-button title="create group" (click)="createGroup(group)">Create</button>
    </mat-card-actions>
  </mat-card>

</div>
