/* You can add global styles to this file, and also import other style files */

body, html {
  background-color: #f6f6f6;
  position: relative;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

html, body, mat-drawer-container, .main-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.mat-form-field {
  width: 100%;
}

.bb-editor mat-card {
  width:400px;
  margin: 20px;
}
