<div class="bb-editor">
  <mat-card>
    <mat-card-title-group class="fullBleed">
      <mat-card-title>{{group?.name}}</mat-card-title>
      <mat-card-subtitle>{{group?.description}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <dl>
        <dt>Group name:</dt>
        <dd>{{group.name}}</dd>
        <dt>Group Description:</dt>
        <dd>{{group.description}}</dd>
        <dt>Date From:</dt>
        <dd>{{group.dateFrom}}</dd>
        <dt>Date Until:</dt>
        <dd>{{group.dateUntil}}</dd>
      </dl>
    </mat-card-content>
  </mat-card>
</div>
