<mat-card>
  <mat-card-title-group class="fullBleed">
    <mat-card-title>{{group?.name}}</mat-card-title>
    <mat-card-subtitle>{{group?.description}}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <dl>
      <dt>Description:</dt>
      <dd>{{group?.description}}</dd>
      <dt>From:</dt>
      <dd>{{group?.dateFrom}}</dd>
      <dt>Until:</dt>
      <dd>{{group?.dateUntil}}</dd>
      <dt>Lecturers:</dt>
      <dd>{{group?.lecturers}}</dd>
    </dl>
  </mat-card-content>

  <mat-card-actions fxLayout fxLayoutAlign="center center">
    <a mat-button title="Go back to list" (click)="back.emit()">Go Back</a>
    <a mat-button title="Edit" (click)="edit.emit(contact)">Edit</a>
  </mat-card-actions>
</mat-card>
